.side-nav .userView .background{
	width: 125%;
	opacity: 0.5;
	filter: alpha(opacity=50);
}
.user-name{
	font-size: 24px;
    font-weight: bold;
    display: block;
    color: black;
    margin: 0px;
    margin-top: -8%;
    margin-bottom: 6%;
}
header{
	border-bottom: 1px solid gray;
        height: 70px;   
}
header img{
	width: 192px;
        padding: 26px;
}
header div{
    height:100%;
}
#button-opciones {
    display: block;
    font-size: 35px;
    color: black;
    line-height: 70px;
    float:right;
}
header h1{
    display:block;
    font-size: 21px;
    line-height: 70px;
    margin: 0;
    color: black;
    font-weight: bold;
    color: #ed1248;
}
header .row{
	margin-bottom: 0px !important;
}
.side-nav a{
	color: black;
	font-size: 20px;
}
.side-nav a i{
	font-size: 40px;
}
.nopad{
    padding: 0%;
}
.col-cen{
    	display: block;
	float: none;
	margin: 0 auto;
}

.search-container{
    height: auto;
    margin-top: 1%;
}
.search-container *{
    display: block;
    height: 3rem;
}
.search-container i {
    padding: 15px;
}