.nopad{
    padding: 0%;
}
.col-cen{
    	display: block;
	float: none;
	margin: 0 auto;
}

.search-container{
    height: auto;
    margin-top: 1%;
}
.search-container *{
    display: block;
    height: 3rem;
}
.search-container i {
    padding: 15px;
}