<div ng-controller="checkProducts" class='col-md-12 col-sm-12 col-xs-12 nopad'>
    
    <div class="col-md-8 col-sm-8 col-xs-11 col-cen search-container">
        <i class="fa fa-search fa-2x col-md-1 col-sm-1 col-xs-2" aria-hidden="true"></i>

        <div class='col-md-9 col-sm-9 col-xs-8'>
        
            <input ng-model='busqueda' placeholder="Ej: 256212 o blusa">
  
        </div>

        
        <button class="col-md-2 col-sm-2 col-xs-2">Buscar</button>

    </div>
    
    
    <table class='content'>
        <tr>
            <td>Categorias</td>
            <td>Abreviaciones</td>
            <td>Suc Categoria principal</td>
            <td>Abreviaciones</td>
            <td>Sub categroias - Tipo de articulo</td>
            <td>Abreviaciones</td>
            <td>Peso ambiental en gramos</td>
            <td>Peso envio en gramos</td>
            <td>Detalle</td>
        </tr>
        <tr ng-repeat="p in productos | filter:busqueda">
            <td>{{p.cat}}</td>
            <td>{{p.cat_abrv}}</td>
            <td>{{p.subcat}}</td>
            <td>{{p.subcat_abrv}}</td>
            <td>{{p.subcattipo}}</td>
            <td>{{p.subcattipo_abrv}}</td>
            <td>{{p.peso_amb}}</td>
            <td>{{p.peso_env}}</td>
            <td>
                <button ng-click="checkDetail(p.id)">ver</button>
            </td>
        </tr>
    </table>
    
    
</div>